im{% load static %}
<section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>
                            {% comment %} I'm a <span>Web Developer</span> since 2020 {% endcomment %}
                            {{ sections.about.title | safe }}
                        </h3>
                        <p>

                            {{ sections.about.content | safe }}

                            {% comment %} <strong>compromised Software Engineer</strong> engaged to deliver innovative and godd quality solutions. 

                            <br><br>
                            Currently, as a <strong>Software Engineer at Metrike</strong>, 
                            with a focus on <strong>Data Engineering and Backend</strong>, 
                            I'm focused on developing Data Processing ETL's for AdTech industry.

                            <br><br>
                            I'm studying <strong>Computer Science at UFPB University</strong>, delving in the computer science foundations, 
                            as long as Algorithms, Data Structures, Computer Architecture, Operational Systems, Linear algebra and Discrete Math, using the languages C/C++, Assembly, Haskell and Prolog.
                            
                            <br><br>
                            
                            dedicated to <strong>continuous learning</strong> and committed to becoming a <strong>versatile programmer</strong>, ready to tackle diverse challenges in the ever-evolving tech landscape.
                            
                            <br><br> {% endcomment %}
                            
                        </p>
                    </div>
                </div>
                <a href="{{ sections.about.cv.cv.url }}" download="cv.pdf" class="btnn btn-download-cv" style="margin-bottom: 16px">
                    <i class="fa-solid fa-download"></i> Download CV
                </a>
                {% comment %} <div class='row skills'>
                    <h2>Skills:</h2>
                    <ul class="skills" >
                        <li><strong>Backend:</strong> Python, Pandas, SQLAlchemy, FastAPI, Flask, Django/DRF, Apache Airflow</li>
                        <li><strong>Frontend:</strong> HTML, CSS, JavaScript/Typescript, NextJS/React, Prisma, Redux and Tailwind</li>
                        <li><strong>Database Management:</strong> SQL, MySQL, PostgreSQL and Redis</li>
                        <li><strong>Tools:</strong> Docker, Nginx, Git and DigitalOcean</li>
                        <li><strong>Basic proficiency:</strong> C/C++, PHP, AI/ML</li>
                        <li><strong>Future Goals:</strong> Learning Go, Angular, MongoDB, Kubernetes and AWS</li>
                    </ul>
                </div> {% endcomment %}

                {% comment %} <div class="row">
                    <div class="personal-info padd-15">
                            <div class="info-item padd-15">
                                <p>Degree: <span>CS Undergraduate</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Country : <span>Brazil</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Age: <span>19</span></p>
                            </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="{% static 'core/cv/CV.pdf' %}" download="CV_Micael_Targino.pdf" class="btnn">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark"  >
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2021 - 2022</h3>
                                    <h4 class="timeline-title">CS50 Harvard Course</h4>
                                    <p class="timeline-text">Completed the "CS50: Web Developing with Python and Javascript" Harvard online course.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023 - 2025</h3>
                                    <h4 class="timeline-title">Associate in Systems Analysis and Development</h4>
                                    <p class="timeline-text">Web Development focused course at Unipe University - Unipe</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023 - 2027</h3>
                                    <h4 class="timeline-title">Computer Science Majoring - UFPB</h4>
                                    <p class="timeline-text">
                                        - Software Engineering and Distributed systems <br><br>
                                        
                                        - Programming paradigms: Object-oriented, Functional, Concurrent and Logic<br><br>

                                        - Computer Arquitecture, Networks, Operational Systems and CyberSecurity<br><br>

                                        - Compilers and Interpreters <br><br>
                                        
                                        - Linear Algebra, Discrete Math, Logic, Statistics and Calculus<br><br>
                                        
                                        - Data Structures and Algorithms <br><br>

                                        - Databases and Data Science <br><br>
                                        
                                        - Artificial Intelligence and Machine Learning <br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> set de 2022 - out de 2023</h3>
                                    <h4 class="timeline-title">Fullstack Developer Internship - Metrike</h4>
                                    <p class="timeline-text">
                                        Development of internal use web applications using Django and React.
                                    </p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> out de 2023 - dez de 2023</h3>
                                    <h4 class="timeline-title">Django Dev Internship - DeuCrédito</h4>
                                    <p class="timeline-text">
                                        New features implementation and bug fixes in the Fintech SaaS Platform, using Django, HTMX, Javascript, and PostgreSQL.
                                    </p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> dez de 2023 - o momento</h3>
                                    <h4 class="timeline-title">Junior Software Engineer</h4>
                                    <p class="timeline-text">
                                        - Development of daily workflow Data Processing ETL with Python and Apache Airflow<br><br>
                                        - Implementation of an Email Sender API for dynamic xlsx report generation, delivering files with dozens of MB with efficiency and performance using Python, Django, Pandas, Celery, and Redis.<br><br>
                                        - Implementation of concurrent web scrapers with Python for brand safety classification of millions of URLs per day.<br><br>
                                        - Data processing and statistics for report generation.<br><br>
                                        - Process Automation and Task Queue implementation.<br><br>
                                        - Relational Database Modeling (MySQL).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2022</h4>
                                    <h4 class="timeline-title">Freelance</h4>
                                    <p class="timeline-text">Coded the Metrike Company institutional website using the Python framework 'Django', JavaScript, Html, CSS and Bootstrap.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023.1</h3>
                                    <h4 class="timeline-title">Web Developer Trainee</h4>
                                    <p class="timeline-text">In February, started working at Metrike Company as a Web Developer and UX Supervisor trainee.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023.2</h4>
                                    <h4 class="timeline-title">Promotion at Metrike</h4>
                                    <p class="timeline-text">In May, got promoted to a fullstack developer using Python, Django, Javascript and React</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
