{% load static %}
<section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>I'm Micael Targino and <span>Web Developer</span></h3>
                        <p>My tech journey began in 2020 with the creation of a simple website...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Degree: <span>CS Undergraduate</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>City : <span>João Pessoa - PB</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="{% static 'core/cv/CV.pdf' %}" download="CV_Micael_Targino.pdf" class="btnn">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2020 - 2021</h3>
                                    <h4 class="timeline-title">Web Development Course</h4>
                                    <p class="timeline-text">Completed an 115 hours course on Udemy Online Platform.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2021 - 2022</h3>
                                    <h4 class="timeline-title">CS50 Harvard Course</h4>
                                    <p class="timeline-text">Completed the "CS50: Web Developing with Python and Javascript" Harvard online course.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023</h3>
                                    <h4 class="timeline-title">React.js and Next.js Course</h4>
                                    <p class="timeline-text">Completed an Udemy online course with 93hour grade about modern React with Next and Scrapi.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023 - 2027</h3>
                                    <h4 class="timeline-title">Computer Science Majoring</h4>
                                    <p class="timeline-text">At the moment, I`m styding Computer Science in the Federal University of Paraíba...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2022</h3>
                                    <h4 class="timeline-title">First Experience</h4>
                                    <p class="timeline-text">Coded an email template for Metrike Company.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2022</h4>
                                    <h4 class="timeline-title">Second Experience</h4>
                                    <p class="timeline-text">Coded a website for Metrike Company using the Python framework 'Django', JavaScript, Html, CSS and Bootstrap.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023</h3>
                                    <h4 class="timeline-title">First Official Job</h4>
                                    <p class="timeline-text">In February, started working at Metrike Company as a Web Developer and UX Supervisor trainee.</p>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023.2</h4>
                                    <h4 class="timeline-title">Promotion at Metrike</h4>
                                    <p class="timeline-text">In May, got promoted to a fullstack developer using Python, Django, Javascript and React</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
