{% load static %}

<div class="aside">
    <div class="logo">
        {% comment %} <a href="#"><span>M</span>icael</a> {% endcomment %}
        <a href="#"> 
            <span style="font-size:32px;">Micael</span>
            </a>
        {% comment %} <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <path d="M7 8L3 12L7 16" stroke="var(--skin-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> 
            <path d="M17 8L21 12L17 16" stroke="var(--skin-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> 
            <path d="M14 4L9.8589 19.4548" stroke="var(--skin-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
            
        </svg> {% endcomment %}
    </div>
    <div class="nav-toggler">
        <span></span>
    </div>
    <ul class="nav">
        <li><a href="#home" class="homeLink link active"><i class="fa fa-home" translate="no"></i> Home</a></li>
        <li><a href="#portfolio" class="portfolioLink link"><i class="fa fa-briefcase"></i> Portfolio</a></li>
        {% comment %} <li><a href="#service" class="servicesLink link"><i class="fa fa-list"></i> Services</a></li> {% endcomment %}
        <li><a href="#about" class="aboutLink link"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#contact" class="contactBtnLink link"><i class="fa fa-comments"></i> Contact</a></li>
    </ul>
</div>
