{% load static %}

<div class="aside">
    <div class="logo">
        <a href="#"> <span>M</span>icael</a>
    </div>
    <div class="nav-toggler">
        <span></span>
    </div>
    <ul class="nav">
        <li><a href="#home" class="homeLink link active"><i class="fa fa-home" translate="no"></i> Home</a></li>
        <li><a href="#about" class="aboutLink link"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#service" class="servicesLink link"><i class="fa fa-list"></i> Services</a></li>
        <li><a href="#portfolio" class="portfolioLink link"><i class="fa fa-briefcase"></i> Portfolio</a></li>
        <li><a href="#contact" class="contactBtnLink link"><i class="fa fa-comments"></i> Contact</a></li>
    </ul>
</div>
