{% load static %}
{% load known_icons %}

<section id="contact" class="contact section" style="padding-bottom: 150px;">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <h3 class="contact-title">{{sections.contact.title1}}</h3>
        <h4 class="contact-sub-title">{{sections.contact.subtitle1}}</h4>
        <div class="row">
          {% for item in sections.contact.contacts.all %}
                <div class="contact-info-item padd-15">
                  <div class="icon">
                    {% if item.logo_file %}
                            <img width="26" height="26" src="{{item.logo_file.url }}"></img>
                    {% elif item.logo_url %}
                            <img width="26" height="26" src="{{item.logo_url }}"></img>
                    {% elif item.name in known_icons %}
                            <i class="{{ known_icons|get_icon:item.name }}"></i>
                    {% else %}
                            <i class="fa-brands fa fa-{{item.name|lower}}"></i>
                    {% endif %}
                  </div>
                  <h4>{{item.name}}</h4>
                  <a target="_blank" href="{{item.link}}">{{item.username}}</a>
            </div>
          
          {% endfor %}
        </div>
    </div>

    <h3 class="contact-title" style="margin-top: 50px;">{{sections.contact.title2}}</h3>
    <h4 class="contact-sub-title">{{sections.contact.subtitle2}}</h4>
    <!-- contact form -->

    <div class="row">
      <form id="contactForm" class="contact-form padd-15">
        {% csrf_token %}
        <input type="hidden" name="_next" value="http://localhost:5500/sentEmail.html" />
        <div class="row">
          <div class="form-item col-6 padd-15">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="name" required />
            </div>
          </div>
          <div class="form-item col-6 padd-15">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="email" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <div class="form-group">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <div class="form-group">
              <textarea name="body" class="form-control" id="" placeholder="Message" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <div class="form-group" style="display: flex">
              <button type="submit" class="btnn" style="margin: 0 auto">Send Message</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <script>
      document.querySelector('#contactForm').addEventListener('submit', function(e) {
        e.preventDefault();
    
        // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const formData = new FormData(this);
    
        const data = {
          name: formData.get('name'),
          email: formData.get('email'),
          subject: formData.get('subject'),
          body: formData.get('body')
        };
    
        fetch("{% url 'send_mail' %}", {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: "POST",
          body: JSON.stringify(data)
        })
        .then(response => {
          if (!response.ok) {
            return response.json().then(err => Promise.reject(err));
          }
          return response.json();
        })
        .then(data => {
          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      });
    </script>
    