{% load static %}

<section id="contact" class="contact section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <h3 class="contact-title">Have you any questions ?</h3>
        <h4 class="contact-sub-title">I'M AT YOUR SERVICES</h4>
        <div class="row">
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa-brands fa fa-linkedin"></i></div>
                <h4>Linkedin</h4>
                <a href="https://www.linkedin.com/in/micaeltargino/">Micael Targino</a>
            </div>
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa-brands fa fa-github"></i></div>
                <h4>Github</h4>
                <a href="https://github.com/MicaelTargino">MicaelTargino</a>
            </div>
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <a href="mailto:micaelgomestargino@gmail.com?subject=Quero Te Contratar">micaelgomestargino@gmail.com</a>
            </div>
        </div>
    </div>
</section>
