{% load static %}

<section id="home" class="home section">
    <div class="container">
        <div class="row">
            <div class="mobile-img">
                <img src="{% static 'core/imgs/myself.png'%}" alt="" />
            </div>
            <div class="home-info padd-15">
                <h3 class="hello">
                    Hello, I am
                    {% comment %} <span>Micael Targino</span> {% endcomment %}
                    {% comment %} <span style="font-family: 'Oswald', sans-serif; font-weight: 600">Micael Targino</span> {% endcomment %}
                    <span style=" font-family: 'Orbitron', sans-serif; font-weight: 800; font-size: 35px;">Micael Targino</span>
                    {% comment %} <span class="name">Micael Targino</span> {% endcomment %}
                </h3>
                <h3 class="my-profession">
                    I'm a <span class="typing"></span>
                </h3>
                <p>Blending technology and creativity. 

                    <section class="hero-contact">
                        <div class="icon"><a target="_blank" href="https://github.com/MicaelTargino">
                            <i class="fa-brands fa fa-github"></i>
                        </a></div>
                        <div class="icon"><a target="_blank" href="https://www.linkedin.com/in/micaeltargino/"><i class="fa-brands fa fa-linkedin"></i></a></div>
                    </section>
                </p>
                <a href="#portfolio" class="btnn hire-me">
                <span>Projects</span> 
                </a>

                <a href="{% static 'core/cv/CV.pdf' %}" download="CV_Micael_Targino.pdf" class="btnn btn-download-cv" style="margin-bottom: 16px">
                     <i class="fa-solid fa-download"></i> Download CV
                </a>



            </div>
            <div class="home-img padd-15">
                <img src="{% static 'core/imgs/myself.png'%}" alt="" />
            </div>
        </div>
    </div>
</section>
