{% load static %}

<section id="portfolio" class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <section class="portfolio-content">
             
                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <div class="porfolio-img">
                            {% comment %} <img src="{% static 'core/imgs/projects/2.png' %}" alt="" /> {% endcomment %}
                            <div class="img-container">
                                <img src="{% static 'core/imgs/projects/3.png' %}" alt="Avatar" class="image">
                                <div class="overlay">
                                  <div class="overlay-content">
                                    <h4><b>Finance</b></h4>
                                    <p>Html, Css, Bootstrap</p>
                                    <span>
                                        <button><a href="" target="_blank">See demo</a></button>
                                        <button><a href="" target="_blank">Github</a></button>
                                    </span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <div class="porfolio-img">
                            {% comment %} <img src="{% static 'core/imgs/projects/2.png' %}" alt="" /> {% endcomment %}
                            <div class="img-container">
                                <img src="{% static 'core/imgs/projects/2.png' %}" alt="Avatar" class="image">
                                <div class="overlay">
                                  <div class="overlay-content">
                                    <h4><b>Spotify clone</b></h4>
                                    <p>Python, Django, DRF, SQLAlchemy HTMX, PostgreSQL</p>
                                    <span>
                                        <button><a href="" target="_blank">See demo</a></button>
                                        <button><a href="" target="_blank">Github</a></button>
                                    </span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>
        </div>
    </div>
</section>
