{% load static %}

<section id="projects" class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <section class="portfolio-content">
                {% for item in sections.portfolio.projects.all %}
                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <div class="porfolio-img">
                            {% comment %} <img src="{% static 'core/imgs/projects/2.png' %}" alt="" /> {% endcomment %}
                            <div class="img-container">
                                <img src="{{item.image.url}}" alt="Avatar" class="image">
                                <div class="overlay">
                                  <div class="overlay-content">
                                    <h4><b>{{ item.title }}</b></h4>
                                    <p style="overflow-wrap: anywhere; width: 100% !important; ">{{item.description}}</p>
                                    <span>
                                        {% if item.demo_link %}
                                        <button><a href="{{item.demo_link}}" target="_blank">See demo</a></button>
                                        {% endif %}
                                        {% if item.repo_link %}
                                        <button><a href="{{item.repo_link}}" target="_blank">Github</a></button>
                                        {% endif %}
                                    </span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>

            </div>
        </div>
    </div>
</section>
