{% load static %}

<section id="portfolio" class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            {% comment %} <div class="potfolio-heading padd-15"> {% endcomment %}
                {% comment %} <h2>My last projects :</h2> {% endcomment %}
                {% comment %} <small style="color:white; text-decoration:underline;">Soon it will be available in the web...</small> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="row">
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/1.png' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/2.png' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/3.png' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/4.png' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/11.png' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item shadow-dark">
                    <div class="portfolio-item-inner shadow-dark">
                        <div class="porfolio-img" style="height: 200px">
                            <img src="{% static 'core/imgs/projects/6.png' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
