{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css'%}" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/skins/color-1.css'%}" />

    <!-- style switcher -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/skins/color-1.css'%}"
      class="alternate-style"
      title="color-1"
      disabled
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/skins/color-2.css'%}"
      class="alternate-style"
      title="color-2"
      disabled
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/skins/color-3.css'%}"
      class="alternate-style"
      title="color-3"
      disabled
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/skins/color-4.css'%}"
      class="alternate-style"
      title="color-4"
      disabled
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/skins/color-5.css'%}"
      class="alternate-style"
      title="color-5"
      disabled
    />
    <link rel="stylesheet" href="{% static 'core/style_switcher/style-switcher.css'%}" />
  </head>
  <body class="dark">
    <!-- main container start -->
    <div class="main-container">
      <!-- aside start -->
      <div class="aside">
        <div class="logo">
          <a href="#"> <span>M</span>icael</a>
        </div>
        <div class="nav-toggler">
          <span></span>
        </div>
        <ul class="nav">
          <li>
            <a href="#home" class="homeLink link active"
              ><i class="fa fa-home" translate="no"></i> Home</a
            >
          </li>
          <li>
            <a href="#about" class="aboutLink link"
              ><i class="fa fa-user"></i> About</a
            >
          </li>
          <li>
            <a href="#service" class="servicesLink link"
              ><i class="fa fa-list"></i> Services</a
            >
          </li>
          <li>
            <a href="#portfolio" class="portfolioLink link"
              ><i class="fa fa-briefcase"></i> Portfolio</a
            >
          </li>
          <!-- <li>
            <a href="#budget" class="budgetLink link"
              ><i class="fa-solid fa-dollar-sign"></i> Budget</a
            >
          </li> -->
          <li>
            <a href="#contact" class="contactBtnLink link"
              ><i class="fa fa-comments"></i> Contact</a
            >
          </li>
        </ul>
      </div>
      <!-- aside end -->
      <!-- main content start -->
      <div class="main-content">
        <!-- home section start -->
        <section id="home" class="home section">
          <div class="container">
            <div class="row">
              <div class="mobile-img">
                <img src="{% static 'core/imgs/myself.png'%}" alt="" />
              </div>
              <div class="home-info padd-15">
                <h3 class="hello">
                  Hello, my name is <span class="name">Micael Targino</span>
                </h3>
                <h3 class="my-profession">
                  I'm a <span class="typing"></span>
                </h3>
                <p>
                      Blending technology and creativity has always been my passion.
<!--                   I'm a fullstack web developer accumulating some experience for over 3
                  years. My expertise is the frontend development, but i'm currently studing and working as a fullstack (React, Js,Python and Django) -->
                </p>
                <a href="#about" class="btnn hire-me">See More</a>
              </div>
              <div class="home-img padd-15">
                <img src="{% static 'core/imgs/myself.png'%}" alt="" />
              </div>
            </div>
          </div>
        </section>
        <!-- home section end -->
        <!-- about section start -->
        <section id="about" class="about section">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>About Me</h2>
              </div>
            </div>
            <div class="row">
              <div class="about-content padd-15">
                <div class="row">
                  <div class="about-text padd-15">
                    <h3>I'm Micael Targino and <span>Web Developer</span></h3>
                    <p>

                    My tech journey began in 2020 with the creation of a simple website. This sparked a passion for coding that led me to a Computer Science bootcamp at Harvard, where I gained a solid foundation in web development and programming. Now, I am a Software Engineer at Metrike and an undergraduate Computer Science student at UFPB University, continuing to expand my knowledge and skills.  <!-- My journey in tech began in 2020 with web development, leading to a Computer Science bootcamp at Harvard for a solid foundation. Now an undergraduate at UFPB university, I'm expanding my skills in web technologies like HTML, CSS, JavaScript, and frameworks, along with database management and exploring Docker, AWS, and more. I aim to master NodeJs and Angular, holding introductory knowledge in Data Science and AI, demonstrating my dedication to becoming a versatile programmer in the tech industry.
                    --><!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil beatae sunt deserunt quo molestias, officia illum, laudantium cupiditate expedita ea doloribus. Laboriosam ipsa nihil, modi iusto obcaecati fugit sequi repellendus eius excepturi a voluptas eveniet, aspernatur inventore! Et adipisci libero quo commodi, cumque, ut quae minus eos totam enim fugiat obcaecati? Quis illum mollitia corrupti.</p> -->
                  </div>
                </div>
                <div class="row">
                  <div class="personal-info padd-15">
                    <div class="row">
                      <div class="info-item padd-15">
                        <p>Degree: <span>CS Undergraduate</span></p>
                      </div>
                      <div class="info-item padd-15">
                        <p>City : <span>João Pessoa - PB</span></p>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="buttons padd-15">
                        <a href="{% static 'core/cv/CV.pdf' %}" download="CV_Micael_Targino.pdf" class="btnn"
                          >Download CV</a
                        >
                        <!-- <a href="#contact" class="btnn hire-me">Hire Me</a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div class="skills padd-15">
                    <div class="row">
                      <div class="skill-item padd-15">
                        <h5>Javascript</h5>
                        <div class="progress">
                          <div class="progress-in" style="width: 85%"></div>
                          <div class="skill-percent">85%</div>
                        </div>
                      </div>
                      <div class="skill-item padd-15">
                        <h5>ReactJs</h5>
                        <div class="progress">
                          <div class="progress-in" style="width: 69%"></div>
                          <div class="skill-percent">69%</div>
                        </div>
                      </div>
                      <div class="skill-item padd-15">
                        <h5>Python</h5>
                        <div class="progress">
                          <div class="progress-in" style="width: 67%"></div>
                          <div class="skill-percent">67%</div>
                        </div>
                      </div>
                      <div class="skill-item padd-15">
                        <h5>Django</h5>
                        <div class="progress">
                          <div class="progress-in" style="width: 70%"></div>
                          <div class="skill-percent">70%</div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="education padd-15">
                    <h3 class="title">Education</h3>
                    <div class="row">
                      <div class="timeline-box padd-15">
                        <div class="timeline shadow-dark">
                          <!-- timeline item  -->
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2020 - 2021
                            </h3>
                            <h4 class="timeline-title">
                              Web Development Course
                            </h4>
                            <p class="timeline-text">
                              Completed an 115 hours course on Udemy Online
                              Platform.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2021 - 2022
                            </h3>
                            <h4 class="timeline-title">CS50 Harvard Course</h4>
                            <p class="timeline-text">
                              Completed the "CS50: Web Developing with Python
                              and Javascript" Harvard online course.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2023
                            </h3>
                            <h4 class="timeline-title">
                              React.js and Next.js Course
                            </h4>
                            <p class="timeline-text">
                              Completed an Udemy online course with 93hour grade about modern React with Next and Scrapi.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2023 - 2027
                            </h3>
                            <h4 class="timeline-title">
                              Computer Science Majoring
                            </h4>
                            <p class="timeline-text">
                              At the moment, I`m styding Computer Science in the
                              Federal University of Paraíba. In addition, I`m
                              styding Computer Science in the Unipe University
                              too.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="experience padd-15">
                    <h3 class="title">Experience</h3>
                    <div class="row">
                      <div class="timeline-box padd-15">
                        <div class="timeline shadow-dark">
                          <!-- timeline item  -->
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2022
                            </h3>
                            <h4 class="timeline-title">First Experience</h4>
                            <p class="timeline-text">
                              Coded an email template for Metrike Company.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2022
                            </h3>
                            <h4 class="timeline-title">Second Experience</h4>
                            <p class="timeline-text">
                              Coded an website for Metrike Company using the
                              Python framework 'Django', JavaScript, Html, CSS
                              and Bootstrap.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2023
                            </h3>
                            <h4 class="timeline-title">First Official Job</h4>
                            <p class="timeline-text">
                              In february, started working at Metrike Company as
                              an Web Developer and UX Supervisor trainee.
                            </p>
                          </div>
                          <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                              <i class="fa fa-calendar"></i> 2023.2
                            </h3>
                            <h4 class="timeline-title">Promotion at Metrike</h4>
                            <p class="timeline-text">
                              In may, got promoted to a fullstack developer using Python, Django, Javascript and React
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- about section end -->
        <!-- Services section start -->
        <section id="service" class="service section">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Services</h2>
              </div>
            </div>
            <div class="row">
              <!-- service item start  -->
              <!-- <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-mobile-alt"></i>
                                </div>
                                <h4>Web Developer</h4>
                                <p>Lorem, ipsum dolor sit amet imen ufog ilip ugof asden</p>
                            </div>
                        </div> -->
              <!-- service item end  -->
              <!-- service item start  -->
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon">
                    <i class="fa fa-laptop-code"></i>
                  </div>
                  <h4>Front-End Developer</h4>
                  <p>Html, CSS, Bootstrap, Javascript.</p>
                </div>
              </div>
              <!-- service item end  -->
              <!-- service item start  -->
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon">
                    <i class="fa fa-code"></i>
                  </div>
                  <h4>Back Developer</h4>
                  <p>Python and Django.</p>
                </div>
              </div>
              <!-- service item end  -->
              <!-- service item start  -->
              <!-- <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon">
                    <i class="fa fas fa-bars-progress"></i>
                  </div>
                  <h4>Ux designer</h4>
                  <p>Layout bugs repairment.</p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon">
                    <i class="fa fa-search"></i>
                  </div>
                  <h4>Curious Professional</h4>
                  <p>Always willing to learn and grow.</p>
                </div>
              </div> -->
              <!-- service item end  -->
              <!-- service item start  -->

              <!-- service item end  -->
            </div>
          </div>
        </section>
        <!-- Services section end -->
        <!-- portfolio section start -->
        <section id="portfolio" class="portfolio section">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Portfolio</h2>
              </div>
            </div>
            <div class="row">
              <div class="potfolio-heading padd-15">
                <h2>My last projects :</h2>
                <small style="color:white; text-decoration:underline;">Soon it will be available in the web...</small>
              </div>
              <div class="row">
                <!-- portfolio item start -->
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/1.png' %}" alt="" />
                    </div>
                  </div>
                </div>
                <!-- portfolio item end -->
                <!-- portfolio item start -->
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/2.png' %}" alt="" />
                    </div>
                  </div>
                </div>
                <!-- portfolio item end -->
                <!-- portfolio item start -->
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/3.png' %}" alt="" />
                    </div>
                  </div>
                </div>
                <!-- portfolio item end -->
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/4.png' %}" alt="" />
                    </div>
                  </div>
                </div>
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/11.png' %}" alt="" />
                    </div>
                  </div>
                </div>
                <div class="portfolio-item shadow-dark">
                  <div class="portfolio-item-inner shadow-dark">
                    <div class="porfolio-img" style="height: 200px">
                      <img src="{% static 'core/imgs/projects/6.png' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- portfolio section end -->
        <!-- <section id="budget" class="budget section">
          <div class="section-title" style="margin-bottom: 50px">
            <h2>Make a budget</h2>
          </div>

          <div
            class="orcamento-wrapper sessao-orcamento"
            style="margin: 0 auto"
          >
            <h1>Make a Budget</h1>
            <div class="budget-nav">
              <button class="budget-nav-btn active" id="landing-pg">
                Landing Page
              </button>
              <button class="budget-nav-btn" id="web-application">
                Web Application
              </button>
            </div>
            <form id="landing-page">
              <div class="form-grp">
                <label for="qtde">How many pages?</label>
                <input
                  type="number"
                  min="1"
                  name="qtde"
                  id="qtde"
                  value="1"
                  disabled
                />
              </div>
              <div class="form-grp layout">
                <label>Design</label>
                <div class="group-layout">
                  <div>
                    <input type="radio" name="layout" id="layout-sim" />
                    <label class="for" for="layout-sim">I need a Design</label>
                  </div>
                  <div>
                    <input
                      type="radio"
                      name="layout"
                      id="layout-nao"
                      checked="checked"
                    />
                    <label class="for" for="layout-nao">I have a Design</label>
                  </div>
                </div>
              </div>
              <div class="form-grp layout">
                <label>More info</label>
                <div class="group-layout">
                  <input
                    id="static-page"
                    name="info"
                    type="radio"
                    checked="checked"
                  />
                  <label class="for" for="static-page">Static Page</label><br />
                  <input id="other-functionalitys" name="info" type="radio" />
                  <label class="for" for="emailSending"
                    >Other Functionalities</label
                  >
                </div>
              </div>
              <div class="form-grp">
                <label for="prazo">Deadline of 3 weeks</label>
                <input
                  type="range"
                  min="1"
                  max="6"
                  value="4"
                  name="prazo"
                  id="prazo"
                />
              </div>
              <label id="preco">R$ 0,00 | $0</label>
              <button
                class="btnn btn-orcamento"
                type="submit"
                id="calcularOrcamento"
              >
                Preview
              </button>
            </form>
            <form style="display: none" id="web-app">
              <div class="form-grp">
                <label for="qtde-pag">How many pages?</label>
                <input id="qtde-pag" type="number" min="1" />
              </div>
              <label>Specifications</label>

              <div class="grp">
                <div>
                  <input id="auth" type="checkbox" />
                  <label for="auth">Auth</label>
                </div>

                <div>
                  <input id="bd" type="checkbox" />
                  <label for="bd">Database</label>
                </div>
                <div>
                  <input id="dynamic-updates" type="checkbox" />
                  <label for="dynamic-updates">Dynamic updates</label>
                </div>
                <div>
                  <input id="search-system" type="checkbox" />
                  <label for="search-system">Search System</label>
                </div>
                <div>
                  <input type="checkbox" id="design" />
                  <label for="design">I need a design</label>
                </div>
              </div>
              <div class="form-grp">
                <label for="deadline">Deadline of 7 weeks</label>
                <input
                  type="range"
                  min="3"
                  max="11"
                  value="7"
                  name="prazo"
                  id="deadline"
                />
              </div>
              <label id="prize">R$ 0,00 | $0</label>
              <button
                style="text-transform: capitalize;"
                class="btnn btn-orcamento"
                type="submit"
                id="calcularOrcamento2"
              >
                Preview
              </button>
            </form>
          </div>
        </section> --> 
        <!-- contact section start -->
        <section id="contact" class="contact section">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Contact Me</h2>
              </div>
            </div>
            <h3 class="contact-title">Have you any questions ?</h3>
            <h4 class="contact-sub-title">I'M AT YOUR SERVICES</h4>
            <div class="row">
              <!-- contact info item start -->
              <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call Us On</h4>
                <p>+55 83 98614-6231</p>
              </div>
              <!-- contact info item end -->
              <!-- contact info item start -->
              <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <a
                  href="mailto:micaelgomestargino@gmail.com?subject=Quero Te Contratar"
                  >micaelgomestargino@gmail.com</a
                >
              </div>
              <!-- contact info item end -->
              <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa-brands fa fa-linkedin"></i></div>
                <h4>Linkedin</h4>
                <a href="https://www.linkedin.com/in/micael-targino-525a07260"
                  >Micael Targino</a
                >
                <!-- <p>linkedin.com/in/micael-targino-525a07260</p> -->
              </div>
              <!-- contact info item end -->
            </div>
          </div>
           <!-- <h3 class="contact-title">SEND ME AN EMAIL</h3>
          <h4 class="contact-sub-title">I'M VERY RESPONSIVE TO MESSAGES</h4> -->
          <!-- contact form -->

          <!-- <div class="row">
            <form
              class="contact-form padd-15"
              action="https://formsubmit.co/micaelgomestargino@gmail.com"
              method="POST"
            >
              <input
                type="hidden"
                name="_next"
                value="https://tranquil-caverns-01400.herokuapp.com/sent"
              />
             <div class="row">
                <div class="form-item col-6 padd-15">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="name"
                      required
                    />
                  </div>
                </div>
                <div class="form-item col-6 padd-15">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="email"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <div class="form-group">
                    <textarea
                      name="message"
                      class="form-control"
                      id=""
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-item col-12 padd-15">
                  <div class="form-group" style="display: flex">
                    <button type="submit" class="btnn" style="margin: 0 auto">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div> -->
        </section>
        <!-- contact section end -->
      </div>
      <!-- main content end -->
    </div>
    <!-- main container end -->

    <!-- style switcher start -->
    <div class="style-switcher">
      <div class="style-switcher-toggler s-icon">
        <i class="fas fa-cog fa-spin"></i>
      </div>
      <div class="day-night s-icon">
        <i class="fas"></i>
      </div>
      <h4>Theme Colors</h4>
      <div class="colors">
        <span class="color-1" onclick="setActiveStyle('color-1')"></span>
        <span class="color-2" onclick="setActiveStyle('color-2')"></span>
        <span class="color-3" onclick="setActiveStyle('color-3')"></span>
        <span class="color-4" onclick="setActiveStyle('color-4')"></span>
        <span class="color-5" onclick="setActiveStyle('color-5')"></span>
      </div>
    </div>
    <a href="#home" id="link-topo">
      <i class="fas fa-arrow-up"></i>
    </a>
    <div class="gtranslate_wrapper"></div>
    <script>
      window.gtranslateSettings = {
        default_language: "en",
        native_language_names: true,
        detect_browser_language: false,
        languages: ["en", "fr", "de", "it", "es", "pt"],
        wrapper_selector: ".gtranslate_wrapper",
        flag_size: 16,
        switcher_open_direction: "top",
        alt_flags: { en: "usa", pt: "brazil", es: "colombia" },
        switcher_text_color: "#f7f7f7",
        switcher_arrow_color: "#f2f2f2",
        switcher_border_color: "#161616",
        switcher_background_color: "#303030",
        switcher_background_shadow_color: "#474747",
        switcher_background_hover_color: "#3a3a3a",
        dropdown_text_color: "#eaeaea",
        dropdown_hover_color: "#748393",
        dropdown_background_color: "#474747",
      };
    </script>
    <script
      src="https://cdn.gtranslate.net/widgets/latest/dwf.js"
      defer
    ></script>
    <!-- style switcher end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'core/style_switcher/style-switcher.js' %}"></script>
    <script src="{% static 'core/script.js' %}"></script>
  </body>
</html>
